:root {
	--main-bg-color: #000;
	--main-fg-color: #aaa;

	--text-strong-color: #fff;

	--link-fg-color: #aaf;

	--container-bg-color: #222;

	--h1-border-b-color: #000;
	--h1-text-shadow: 2px 2px 2px #000;

	--alert-success-bg-color: #040;
	--alert-success-fg-color: #4a4;
	--alert-success-box-shadow: 0px 0px 1px 0px #040,
							 1px 1px 1px 0px #020;
	--alert-info-bg-color: #004;
	--alert-info-fg-color: #44a;
	--alert-info-box-shadow: 0px 0px 1px 0px #004,
							 1px 1px 1px 0px #002;
	--alert-warning-bg-color: #440;
	--alert-warning-fg-color: #aa4;
	--alert-warning-box-shadow: 0px 0px 1px 0px #440,
								1px 1px 1px 0px #220;
	--alert-error-bg-color: #400;
	--alert-error-fg-color: #a44;
	--alert-error-box-shadow: 0px 0px 1px 0px #400,
							  1px 1px 1px 0px #200;
	--textarea-bg-color: #111;
	--textarea-fg-color: #aaa;
	--textarea-box-shadow: 0px 0px 5px 0px #000;
	--textarea-border-color: #aaa;

	--inputbutton-bg-color: #222;
	--inputbutton-fg-color: #aaa;
	--inputbutton-box-shadow: 0px 0px 2px 1px #000,
							  1px 1px 1px 0px #222 inset,
							  1px 1px 1px 1px #aaa inset;
	--inputbutton-hover-bg-color: #333;
	--inputbutton-active-bg-color: #111;
	--inputbutton-active-box-shadow: 0px 0px 2px 1px #000;

	--rect-link-fg-color: #99a;
	--rect-border-color: #666;
	--rect-background-color: #333;

	--rect-hover-link-fg-color: #ccf;
	--rect-hover-border-color: #666;
	--rect-hover-background-color: #444;

	--rect-active-link-fg-color: #444;
	--rect-active-border-color: #666;
	--rect-active-background-color: #111;

	--rect-active-hover-link-fg-color: #444;
	--rect-active-hover-border-color: #666;
	--rect-active-hover-background-color: #111;

	--rect-disabled-link-fg-color: #444;
	--rect-disabled-border-color: #666;
	--rect-disabled-background-color: #111;

	--table-color-bg-1: #333;
	--table-color-bg-2: #555;
	--table-color-bg-hover: #444;

	--bg-images: invert(80%);
}
