:root {
	--main-bg-color: #666;
	--main-fg-color: #000;

	--text-strong-color: #000;

	--link-fg-color: #00a;

	--container-bg-color: #fff;

	--h1-border-b-color: #aaa;
	--h1-text-shadow: 0px 0px 2px #fff, 2px 2px 2px #000;

	--alert-success-bg-color: #afa;
	--alert-success-fg-color: #0a0;
	--alert-success-box-shadow: 0px 0px 1px 0px #040,
							 1px 1px 1px 0px #020;
	--alert-info-bg-color: #aaf;
	--alert-info-fg-color: #00a;
	--alert-info-box-shadow: 0px 0px 1px 0px #004,
							 1px 1px 1px 0px #002;
	--alert-warning-bg-color: #ffa;
	--alert-warning-fg-color: #660;
	--alert-warning-box-shadow: 0px 0px 1px 0px #440,
								1px 1px 1px 0px #220;
	--alert-error-bg-color: #faa;
	--alert-error-fg-color: #a00;
	--alert-error-box-shadow: 0px 0px 1px 0px #400,
							  1px 1px 1px 0px #200;
	--textarea-bg-color: #eee;
	--textarea-fg-color: #000;
	--textarea-box-shadow: 0px 0px 5px 0px #000;
	--textarea-border-color: #222;

	--inputbutton-bg-color: #ddd;
	--inputbutton-fg-color: #111;
	--inputbutton-box-shadow: 0px 0px 2px 1px #000,
							  1px 1px 1px 1px #fff inset;
	--inputbutton-hover-bg-color: #eee;
	--inputbutton-active-bg-color: #ccc;
	--inputbutton-active-box-shadow: 0px 0px 2px 1px #000;

	--rect-link-fg-color: #444;
	--rect-border-color: #ddd;
	--rect-background-color: #eee;

	--rect-hover-link-fg-color: #000;
	--rect-hover-border-color: #ddd;
	--rect-hover-background-color: #fff;

	--rect-active-link-fg-color: #aaa;
	--rect-active-border-color: #ddd;
	--rect-active-background-color: #ddd;

	--rect-active-hover-link-fg-color: #aaa;
	--rect-active-hover-border-color: #ddd;
	--rect-active-hover-background-color: #ddd;

	--rect-disabled-link-fg-color: #aaa;
	--rect-disabled-border-color: #ddd;
	--rect-disabled-background-color: #ddd;

	--table-color-bg-1: #eee;
	--table-color-bg-2: #ddd;
	--table-color-bg-hover: #ccc;

	--bg-images: invert(0%);
}
