body {
	color: var(--main-fg-color);
	background-color: var(--container-bg-color);
}

body:has( > #container ) {
	background-color: var(--main-bg-color);
}

a {
	color: var(--link-fg-color);
}

#container {
	display: block;
	overflow: hidden;
	width: 95%;
	margin: 5px auto;
	padding: 10px;
	border-radius: 5px;
	background-color: var(--container-bg-color);
	box-shadow: 0px 0px 10px 1px #000;
}

h1 {
	border-bottom: 1px solid var(--h1-border-b-color);
	text-shadow: var(--h1-text-shadow);
}

input[type="password"],
input[type="text"],
input[type="date"],
input[type="month"],
input[type="url"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="search"],
textarea												
{
	background-color: var(--textarea-bg-color);
	color: var(--textarea-fg-color);
	border: 1px solid #000;
	border-radius: 5px;
	padding: 10px;
	box-shadow: var(--textarea-box-shadow);
}

button, input[type="button"], input[type="submit"] {
	background-color: var(--inputbutton-bg-color);
	color: var(--inputbutton-fg-color);
	border: 0px none;
	border-radius: 5px;
	box-shadow: var(--inputbutton-box-shadow);
	margin: 5px;
	padding: 5px 10px;
	cursor: pointer;
	
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover  {
	background-color: var(--inputbutton-hover-bg-color);
}

button:active, input[type="button"]:active, input[type="submit"]:active {
	background-color: var(--inputbutton-active-bg-color);
	box-shadow: var(--inputbutton-active-box-shadow);
}

.alert {
	overflow: hidden;
	padding: 20px 60px;
	border-radius: 5px;
	margin: 5px 10px;
}

.a-success {
	background: var(--alert-success-bg-color);
	color: var(--alert-success-fg-color);
	box-shadow: var(--alert-success-box-shadow);
}

.a-info {
	background: var(--alert-info-bg-color);
	color: var(--alert-info-fg-color);
	box-shadow: var(--alert-info-box-shadow);
}

.a-warning {
	background: var(--alert-warning-bg-color);
	color: var(--alert-warning-fg-color);
	box-shadow: var(--alert-warning-box-shadow);
}

.a-error {
	background: var(--alert-error-bg-color);
	color: var(--alert-error-fg-color);
	box-shadow: var(--alert-error-box-shadow);
}

.theme-selector {
	overflow: hidden;
	cursor: pointer;
}

.ts-dark .theme-selector {
	transition: all 100ms linear;
	background-color: #050535;
	box-shadow: 0px 0px 1px 1px #aaa inset;
}

.ts-light .theme-selector {
	transition: all 100ms linear;
	background-color: #aaf;
	box-shadow: 0px 0px 1px 1px #66a inset;
}

.ts-dark .ts-bullet {
	transition: all 100ms linear;
	background-color: #aaa;
	box-shadow: 0px 0px 1px 2px #444;
}

.ts-light .ts-bullet {
	transition: all 100ms linear;
	background-color: #ed0;
	box-shadow: 0px 0px 1px 2px #870;
}

.theme-selector.large { border-radius: 20px; height: 40px; width: 80px;}
.theme-selector.medium { border-radius: 15px; height: 30px; width: 60px;}
.theme-selector.small { border-radius: 10px; height: 20px; width: 40px;}

.theme-selector.large > .ts-bullet {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	margin-top: 5px;
}

.theme-selector.medium > .ts-bullet {
	width: 22.5px;
	height: 22.5px;
	border-radius: 11px;
	margin-top: 4px;
}

.theme-selector.small > .ts-bullet {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	margin-top: 5px;
}

.ts-dark .theme-selector.large > .ts-bullet { transition: all 100ms linear; margin-left: 45px; }
.ts-dark .theme-selector.medium > .ts-bullet { transition: all 100ms linear; margin-left: 32px; }
.ts-dark .theme-selector.small > .ts-bullet { transition: all 100ms linear; margin-left: 25px; }

.ts-light .theme-selector.large > .ts-bullet { transition: all 100ms linear; margin-left: 5px; }
.ts-light .theme-selector.medium > .ts-bullet { transition: all 100ms linear; margin-left: 4px; }
.ts-light .theme-selector.small > .ts-bullet { transition: all 100ms linear; margin-left: 5px; }


@media screen
  and (max-device-width: 20cm) {
  /* and (orientation: portrait) { */

    html{
		/* background-color: red; */
    }

	body {
		padding: 0;
		margin: 0;
	}

	/* h1 { font-size: 50pt; } */
	/* h2 { font-size: 45pt; } */
	/* h3 { font-size: 40pt; } */
	/* h4 { font-size: 35pt; } */
	/* h5 { font-size: 30pt; } */
	/* h6 { font-size: 25pt; } */

	/* * { */
	/* 	font-size: 25pt; */
	/* } */

	#container {
		width: 100%;
		margin: 0;
		padding: 0px;
	}

	.theme-selector.m-large { border-radius: 3.5vw; height: 7vw; width: 15vw;}

	.theme-selector.m-large > .ts-bullet {
		width: 6vw;
		height: 6vw;
		border-radius: 3vw;
		margin-top: 0.6vw;
	}

	.ts-dark .theme-selector.m-large > .ts-bullet { transition: all 100ms linear; margin-left: 8.5vw; }

	.ts-light .theme-selector.m-large > .ts-bullet { transition: all 100ms linear; margin-left: 0.6vw; }

	.theme-selector.m-very-large { border-radius: 5vw; height: 10vw; width: 20vw;}

	.theme-selector.m-very-large > .ts-bullet {
		width: 8vw;
		height: 8vw;
		border-radius: 4vw;
		margin-top: 1vw;
	}

	.ts-dark .theme-selector.m-very-large > .ts-bullet { transition: all 100ms linear; margin-left: 11vw; }

	.ts-light .theme-selector.m-very-large > .ts-bullet { transition: all 100ms linear; margin-left: 1vw; }

}
